html {
	background-color: #fff;
}

body {
	height: 100%;
	font-family: Comic sans ms;
}

/******HEADER*****/

.header-images {
	width: 500px;
	height: 104px;
	display: block;
	margin: 0 auto;
	border: 2px solid black;
}

#smiley, #logo {
	height: 100px;
	margin: 0;
	padding: 0;
}

#smiley {
	float: left;
	margin-left: 5px;
}

#logo {
	float: right;
	margin-left: -5px;
}


/******INPUTS*****/

#input-container {
	border: 2px solid black;
	height: 160px;
	width: 500px;
	margin: 0 auto;
}

#inputs {
	width: 400px;
	margin: 10px 50px;
}

input {
	width: 120.5px;
	margin: 1px;
	border: 1px solid black;
}

#input-header {
	font-size: 1.2em;
	font-weight: 200;
	margin: 10px auto 0 50px;
}

.button:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

/*****MADLIB*****/

#madlib-container {
	width: 500px;
	height: 320px;
	border: 2px solid black;
	margin: 0 auto;
	transition: all linear 1s;
}

.madlib-text {
	width: 420px;
	margin: 0 auto;
	font-size: 16px;
}

#madlib-container.ng-enter,
#madlib-container.ng-leave.ng-leave-active {
	opacity: 0;
}

#madlib-container.ng-leave,
#madlib-container.ng-enter.ng-enter-active {
	opacity: 1;
}



