html {
	background-color: #fff;
	margin: 0 auto;
}

.header-images {
	width: 500px;
	display: block;
	margin: 0 auto;
}


#smiley, #logo {
	height: 100px;
	margin: 0;
	padding: 0;
}

#smiley {
	float: left;
}

#logo {
	float: right;
}