html {
	background-color: #fff;
}

body {
	height: 100%;
}

/******HEADER*****/

.header-images {
	width: 500px;
	height: 104px;
	display: block;
	margin: 0 auto;
	border: 2px solid black;
}

#smiley, #logo {
	height: 100px;
	margin: 0;
	padding: 0;
}

#smiley {
	float: left;
}

#logo {
	float: right;
}


/******INPUTS*****/

#input-container {
	border: 2px solid black;
	height: 150px;
	width: 500px;
	margin: 0 auto;
}

#inputs {
	width: 400px;
	margin: 10px 50px;
}

input {
	width: 120.5px;
	margin: 2px;
}

#input-header {
	font-family: Comic sans ms;
	font-size: 1.4em;
	margin: 10px auto 0 50px;
}

/*****MADLIB*****/